NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://soumen:BBsfT5dbIoLCFqOz@ac-qvsac1g-shard-00-00.abjt7ko.mongodb.net:27017,ac-qvsac1g-shard-00-01.abjt7ko.mongodb.net:27017,ac-qvsac1g-shard-00-02.abjt7ko.mongodb.net:27017/loanManagement?ssl=true&replicaSet=atlas-mpt6c3-shard-0&authSource=admin&appName=dead
JWT_SECRET=41d494af2ea7dgdfgr6454ba7a37cf3b2887780cb3c94ff690367355300166f38f29c858eee57a81d2c0d462f12e0c1f945c7adff547fecddfa61fdaa18a2
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-refresh-secret-change-in-production
JWT_REFRESH_EXPIRES_IN=7d
ROI_LEVELS=5
CRON_TIMEZONE=UTC
CORS_ORIGIN=http://localhost:5173
